<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<BR />
		<br />
		<form action="" method="post">
			
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Welcome TSS - Chat Box</h3>
				</div>
				<div class="panel-body">
					<label>Your Name</label>
					<input type="text" class="form-control" name="name">
					<br />
					<input type="submit" class="btn btn-primary" value="Add">
				</div>
			</div>
		</div>
		</form>
	</div>
</body>
</html>